--- 
--- 

$nav-height: 50px;

body {
  font-family: 'Noto Sans SC', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
a {
  color: #999;
}

a:hover {
  text-decoration: none;
}

.hello {
  margin-top: 50px;
  margin-left: 8px;
}

.title {
  margin-top: 50px;
  font-size: 2.5em;
  color: #3399cc;
}

.nav {
  background-color: #eeeeee;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  height: $nav-height;
  display: flex;
  overflow-x: auto;
}

.nav {
  a {
    float: left;
    display: block;
    padding: 16px;
  }
  .icon {
    display: none;
    float: left;
  }
}


ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
  padding: 8px;
}

ul.posts li {
  list-style: none;
}

.toc {
  position: fixed;
  width: 20%;
  height: calc(100% - #{$nav-height});
  overflow: auto;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  background: #ffffff;
  z-index: 8888;
  box-sizing: border-box;
  border-right: 1px solid #dedede;

  &>ul {
    padding-left: 20px;
  }
  li>ul {
    padding-left: 20px;
  }

  .toc-l1 {
    color: #262626;
    a {
      color: #262626;
    }
    .toc-l2 {
      color: #595959;
      a {
        color: #595959;
      }
    }
  }
}

.content-area {
  position: relative;
  margin-top: 20px;
  left: 20%;
  width: 80%;
  box-sizing: border-box;
  min-width: 400px;
  padding: 0px 20px 20px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

.footer ul {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 0px;
  list-style: none;
  font-weight: bold;
  float: right;
}

.footer {
  clear: both;
  width: 100%;
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;

  ul li {
    display: inline;
    margin-right: 20px;
  }
}

#search-input {
  width: 100%;
  padding: 4px;
  margin: 4px auto;
  border: 1px solid #888888;
  font-size: 1.2em;
  box-sizing: border-box;
}

#search-container {
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
}

#results-container {
  margin-top: 16px;
}

.blog-item {
  padding-top: 4px;
  padding-bottom: 4px;
}

.blog-date {
  color: #cccccc;
  font-size: 0.8em;
}

.blog-link {
  color: #333333;
  margin-right: 4px;
}
.blog-tags {
  color: #3399cc;  
}
.blog-tag {
  font-size: 16px;
  line-height: 1;
  color: #3399cc;
  margin: 0px 4px;
  transition: all 300ms;
}
.search-tags {
  color: #ddd;
  font-size: 12px;
}

.index {
  margin-top: 50px;
  padding-top: 8px;
}

.meta {
  color: #ccc;
  font-size: 16px;
}

@media (max-width:800px) {

  .toc,
  .content-area,
  .footer {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    box-sizing: border-box;
  }

  .content-area {
    left: 0px;
    min-width: 320px;
  }

  .nav .icon {
    display: block;
    float: left;
  }

  .toc {
    right: 0px;
    height: 100%;
    width: 60%;
    position: fixed;
    background: #000000;
    opacity: 0.8;
    display: none;
    
    .toc-l1 {
      color: #eee;
      a {
        color: #eee;
      }
      .toc-l2 {
        color: #ccc;
        a {
          color: #ccc;
        }
      }
    }
  }

  ul.posts {
    margin: 0px;
    font-size: 1.3em;
    line-height: 1.6em;
  }
}
