--- 
--- 

@keyframes mainAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

$nav-height: 50px;
$max-width: 1360px;
$toc-max-width: $max-width * 0.2;


$primary: #3399cc;

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: 'Noto Sans SC', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  color: #999;
  &:hover {
    text-decoration: none;
  }
}

.title {
  margin-top: 20px;
  font-size: 2.5em;
  color: #3399cc;
}

header {
  width: 100%;
  top: 0;
  z-index: 9999;
  background-color: #eeeeee;

  .nav {
    max-width: $max-width;
    margin: auto;
    height: $nav-height;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    .nav-menu a {
      float: left;
      display: flex;
      padding: 13px 16px;
      min-width: 80px;
      text-align: center;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;
      &.active {
        background-color: #3399cc;
        color: #ffffff;
      }
    }
    .tool-bar {
      display: flex;
      flex: 1;
      align-items: center;
    }

    .nav-main-toggle {
      display: none;
      margin-left: auto;
      height: 50px;
      width: 50px;
      text-align: center;
      line-height: 50px;
    }
  }  
}

main {
  height: calc(100% - #{$nav-height});
  overflow: auto;
  position: relative;
  background-color: #fcfcfc;

  .main-container {
    max-width: $max-width;
    height: 100%;
    margin: auto;
  }
}

.toc {
  position: fixed;
  top: $nav-height;
  width: 20%;
  max-width: $toc-max-width;
  float: left;
  height: calc(100% - #{$nav-height});
  overflow: auto;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  background: #ffffff;
  z-index: 8888;
  box-sizing: border-box;
  border-right: 1px solid #dedede;

  &>ul {
    padding-left: 20px;
  }
  li>ul {
    padding-left: 20px;
  }

  a {
    display: inline-block;
    width: 100%;
    transition: color 30ms;

    &.active {
      color: $primary !important;
      font-weight: 700;
    }
  }
  
  .toc-l1 {
    a {
      color: #262626;
    }
    .toc-l2 {
      a {
        color: #595959;
      }
    }
  }

  .toc-l1,.toc-l2{
    a:hover {
      color: lighten($primary, 20%)
    }
  }
}

.article {
  @include hide-scrollbar;
  position: relative;
  float: right;
  width: 80%;
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  min-width: 400px;
  min-height: calc(100vh - #{$nav-height});
  padding: 0px 20px 20px;
  background-color: #ffffff;
}

.main {
  max-width: 850px;
  margin: 0 auto;
  animation: 250ms ease-out 0s 1 mainAnimation;
}

#search-input {
  width: 100%;
  padding: 4px;
  margin: 4px auto;
  border: 1px solid #888888;
  font-size: 1.2em;
  box-sizing: border-box;
  &:focus {
    outline: none;
    border-color: $primary;
  }
}

#search-container {
  width: 100%;
  box-sizing: border-box;
  padding: 4px 8px;
  
  a:focus {
    outline: none;
  }

  #results-container {
    margin-top: 16px;
    padding-inline-start: 0;
    
    li.blog-item {
      list-style: none;
      padding: 4px 8px;
      &:focus-within {
        box-shadow: inset 1px 1px $primary, inset -1px -1px $primary;
        // border: 1px solid $primary;
      }
      a {
        display: inline-block;
        width: 100%;
      }
      a:hover {
        color: $primary;
        .search-tags,.blog-date {
          color: $primary;
        }
        strong {
          color: $primary;
        }
      }
      strong {
        color: #709baa;
      }
      .search-tags strong {
        color: #b0ccda;
      }
    }
  }
}

.blog-date {
  color: #cccccc;
  font-size: 0.8em;
}

.blog-link {
  margin-right: 4px;
}
.blog-tags {
  color: #3399cc;  
}
.blog-tag {
  font-size: 16px;
  line-height: 1;
  color: #3399cc;
  margin: 0px 4px;
  transition: all 300ms;
}
.search-tags {
  color: #ddd;
  font-size: 12px;
}

.index {
  overflow: auto;
  height: 100%;
}

.meta {
  color: #ccc;
  font-size: 16px;
}

.katex {
  padding: 8px 0;
  overflow: auto;
  .cjk_fallback {
    font-family: 'Noto Sans SC', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  }
}

@media (max-width:800px) {
  .katex-display {
    .katex {
      font-size: 0.8em;
    }
  }

  .article {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    box-sizing: border-box;
  }

  .article {
    left: 0px;
    min-width: 320px;
  }

  header .nav {
    display: flex;
    align-items: center;
    .nav-main-toggle {
      display: block;
    }
    .nav-main-container {
      position: fixed;
      width: 100%;
      top: 0;
      right: -160px;
      height: 100%;
      z-index: 99;
      visibility: hidden;
      transition: 0.2s all ease;

      .nav-main {
        float: right;
        width: 160px;
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: white;
        .nav-menu {
          flex: 0 0 auto;
          overflow: auto;
          > a {
            width: 100%;
          }
        }
      }

      &.active {
        visibility: visible;
        right: 0;
        .nav-main {
          box-shadow: -1px 0 5px 2px rgba(0,0,0, 0.1);
        }
      }
    }
  } 
  .main-container > .toc {
    display: none;
  }
  
  .toc {
    width: 100%;
    position: static;
    border-top: 1px solid #fafafa;
    padding: 8px 4px;
    font-size: 0.8rem;
    ul {
      padding-inline-start: 8px;
      padding-left: 8px;
      list-style-type: none;
    }
    li>ul {
      padding-left: 8px;
    }
    .toc-l1 {
      color: #bbb;
      a {
        color: #bbb;
      }
      .toc-l2 {
        color: #ddd;
        a {
          color: #ddd;
        }
      }
    }
  }
}
