---
---

.terminal {
  .blue {
    color: #6871ff;
  }
  .green {
    color: #00c200;
  }
  .red {
    color: #bf2209;
  }
  .cyan {
    color: #60f7f9;
  }
  .purple {
    color: #800080
  }
  .gold {
    color: #c7c400;
  }
  .gray {
    color: #626262;
  }
}

