---
---
.main-container > h1.title {
  display: none;
}

.toc {
  width: 434px;
  max-width: 434px;
  padding: 6px 4px 6px 8px;
  ul {
    padding-inline-start: 0;
    li {
      font-size: 14px;
      list-style-type: none;
    }
  }
}
.article {
  width: calc(100% - 434px);
}
.unicodes {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Everson Mono', 'Symbola', 'Unifont', 'Last Resort High-Efficiency', sans-serif;
  i {
    font-size: 60px;
    font-weight: 500;
    padding: 30px;
    transition: transform 0.2s;
    cursor: pointer;
    font-style: normal;
    &:hover {
      transform: scale(2)
    }
  }
}
@media (max-width: 800px) {
  .article {
    width: 100%;
  }
  .toc {
    span.block {
      display: none;
    }
  }
  .unicodes {
    i {
      font-size: 40px;
      padding: 20px;
    }
  }
}