<link rel="stylesheet" href="/css/katex.min.css"/>
<script defer src="/js/katex.min.js"></script>
<script defer src="/js/auto-render.js" onload="autoRenderMathInElement()"></script>
<script>
  function autoRenderMathInElement() {
    renderMathInElement(document.body, {
      delimiters: [
        { left: "$$", right: "$$", display: true },
        { left: "\\[", right: "\\]", display: true },
        { left: "$", right: "$", display: false },
        { left: "\\(", right: "\\)", display: false },
      ],
    });
  }
</script>