<link href="/css/fa-solid.css" rel="stylesheet">
<link href="/css/fontawesome.css" rel="stylesheet">
<script>
  class TranslateTooltip extends HTMLElement {
  constructor() {
    super();
    const node = this;
    const config = { attributes: false, childList: true };
    const callback = function(mutationsList, observer) {
      let innerHTML;
      for(let mutation of mutationsList) {
        if (mutation.type === 'childList') {
          innerHTML = node.innerHTML
          observer.disconnect();
          break;
        }
      }
      if (innerHTML) {
        node.innerHTML = '';
        node.appendChild(node.createTooltip(innerHTML));
      }
    };
    const observer = new MutationObserver(callback);
    observer.observe(this, config);
  }

  createTooltip(innerHTML) {
    const container = document.createElement('div');
    container.classList.add('translate-tooltip');

    const icon = document.createElement('i');
    icon.classList.add('fas', 'fa-globe');

    const tooltip = document.createElement('div');
    tooltip.classList.add('tooltip-content');

    tooltip.innerHTML = innerHTML;

    icon.addEventListener('mouseover', function(){
      tooltip.classList.add('show');
    });

    icon.addEventListener('mouseleave', function(){
      tooltip.classList.remove('show');
    });

    container.appendChild(icon);
    container.appendChild(tooltip);

    return container;
  }
}

customElements.define('t-tip', TranslateTooltip);
</script>
<style>

.translate-tooltip {
  color: #999;
  position: relative;
  display: inline-flex;
  vertical-align: super;
  font-size: 8px;
}
.translate-tooltip .tooltip-content {
  position: absolute;
  width: auto;
  white-space: nowrap;
  padding: 0 4px;
  top: 0;
  left: 10px;
  transform-origin: center left;
  transform: scale(0);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  border: 1px solid #eee;
  background: white;
  border-radius: 4px;
  font-size: 0.8rem;
  z-index: 10;
}
.translate-tooltip .tooltip-content.show{
  transform: scale(1);
  opacity: 1;
}
</style>