--- 
layout: unicode 
title: Unicode 
---
<div class="toc">
  <ul>
    {% for item in site.data.unicode %}
      <li>
        <a class = "blog-link" href="#{{ item.title }}" style="display:block">
          <nobr><span class="range">[{{item.begin}}-{{item.end}}]</span> <span class="block">{{item.title}}</span></nobr>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
<div class="article">
  <div class="main">
    <h1 class="title"></h1>
    <p class="meta">
      [<span class="begin"></span>-<span class="end"></span>]
      &nbsp;
      <span class="assigned"></span>
      /
      <span class="points"></span>
    </p>
    <div class="post">
      <div class="unicodes"></div>
    </div>
  </div>
</div>
<script>
  var unicodeInfo = {
    {% for item in site.data.unicode %}
      '{{item.title}}': {
        begin: '{{item.begin}}',
        end: '{{item.end}}',
        points: {{item.points}},
        assigned: {{item.assigned}},
      },
    {% endfor %}
  }
  var defaultBlock = '{{site.data.unicode[0].title}}';

  function initBlock(block) {
    var blockInfo = unicodeInfo[block];
    if (blockInfo) {
      var titleEl = document.querySelector('.main .title');
      var beginEl = document.querySelector('.main .meta .begin');
      var endEl = document.querySelector('.main .meta .end');
      var pointsEl = document.querySelector('.main .meta .points');
      var assignedEl = document.querySelector('.main .meta .assigned');
      var postEl = document.querySelector('.main .post .unicodes');

      titleEl.innerHTML = block;
      beginEl.innerHTML = blockInfo.begin;
      endEl.innerHTML = blockInfo.end;
      pointsEl.innerHTML = blockInfo.points;
      assignedEl.innerHTML = blockInfo.assigned;

      var begin = parseInt('0x' + blockInfo.begin);
      var end = parseInt('0x' + blockInfo.end);
      
      var codeHtml = '';
      for (var i = begin, j = 0; i <= end; i++, j++) {
        codeHtml += ('<i title="'+ i.toString(16) +'">&#' + i + ';</i>')
      }
      postEl.innerHTML = codeHtml;
    }
  }

  var block = (decodeURIComponent(window.location.hash) + '').slice(1);
  if (block) {
    initBlock(block);
  } else {
    initBlock(defaultBlock);
  }
  window.addEventListener('hashchange', function($event) {
    var block = (decodeURIComponent(window.location.hash) + '').slice(1);
    initBlock(block);
  });
</script>

<script>
  const postNavMain = document.querySelector('.nav-main');
  const toc = document.querySelector('.toc');
  const tocParent = toc.parentElement;
  let tocToggled = false;

  function toggleTOC() {
    const matchMedia = window.matchMedia("(max-width: 800px)").matches;
    if (matchMedia != tocToggled) {
      if (matchMedia) {
        postNavMain.appendChild(toc);
      } else {
        tocParent.appendChild(toc);
      }
      tocToggled = matchMedia;
    }
  }

  function initEvent(type, name, obj) {
      obj = obj || window;
      var running = false;
      var func = function() {
          if (running) { return; }
          running = true;
            requestAnimationFrame(function() {
              obj.dispatchEvent(new CustomEvent(name));
              running = false;
          });
      };
      obj.addEventListener(type, func);
  };

  initEvent("resize", "optimizedResize");

  window.addEventListener("optimizedResize", toggleTOC);

  toggleTOC();
</script>