---
layout: nav
title: Blog
---
<div class="index">
  <ul class="posts">
    {% for post in site.posts %}
      <li class="post-item">
        <a class = "blog-link" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        <br>
        <span class="date">{{ post.date | date: '%Y-%m-%d' }}</span>
        {% if post.tags.size > 0 %}
          <span class="tags"><span class="dot">·</span>{{ post.tags | join: '|' }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>