<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/pastie.css">
    <link rel="stylesheet" type="text/css" href="/css/md.css">
</head>

<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
    </div>

    {{ content }}

    <footer>
        <ul>
            <li><a href="https://github.com/867380699">github.com/867380699</a></li>
        </ul>
    </footer>
</body>

</html>