--- 
layout: default 
---

<div class="toc">
    {% include toc.html html=content item_class='toc-l%level%' %}
</div>
<div class="content-area">
<div class="main">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
        <span class="count">字数&nbsp;{{ page.content | number_of_words }}</span>
        ·
        <span class="date">{{ page.date | date: "%Y-%m-%d" }}</span>
    </p>
    {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
            <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
    {% endfor %}
    <div class="post">

        {{ content }}
    </div>
</div>
</div>