---
layout: default
---

<link rel="stylesheet" type="text/css" href="/css/pastie.css">
<link rel="stylesheet" type="text/css" href="/css/md.css">

<div class="toc">
  {% include toc.html html=content item_class='toc-l%level%' %}
</div>
<div class="article">
  <div class="main">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
      <span class="count">字数&nbsp;{{ page.content | number_of_words }}</span>
      ·
      <span class="date">{{ page.date | date: "%Y-%m-%d" }}</span>
    </p>
    <p class="blog-tags">
      {% for tag in page.tags %} {% capture tag_name %}#{{ tag }}{% endcapture
      %}
      <a class="blog-tag" href="/tag/{{ tag_name }}">{{ tag_name }}</a>
      {% endfor %}
    </p>

    <div class="post">
      {{ content }}
    </div>
  </div>
</div>

<script>
  function toggleTOC() {
    var x = document.getElementsByClassName("toc");
    if (x.length > 0) {
      x = x[0];
      if (x.style.display === "" || x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  }
  function hideTOC() {
    var x = document.getElementsByClassName("toc");
    if (x.length > 0) {
      x = x[0];
      if (x.style.display !== "none") {
        x.style.display = "none";
      }
    }
  }
  var menu = document.getElementById("menu");
  if (menu) {
    menu.onclick = toggleTOC;
  }
  window.onhashchange = function($event) {
    var elMenu = document.getElementById("menu");
    if (elMenu && getComputedStyle(elMenu).display != "none") {
      hideTOC();
    }
  };
</script>

<script>
  function debounce(fn, delay) {
    var timer;
    return function() {
      var context = this;
      var args = arguments;
      clearTimeout(timer);
      timer = setTimeout(() => {
        fn.apply(context, args);
      }, delay);
    };
  }

  function throttle(fn, delay) {
    var timer;
    var isFirst = true;
    return function() {
      var context = this;
      var args = arguments;
      if (isFirst) {
        fn.apply(context, args);
        isFirst = false;
      }
      if (timer) {
        return;
      }
      timer = setTimeout(() => {
        timer = null;
        fn.apply(context, args);
      }, delay);
    };
  }

  var contentArea = document.querySelector(".article");
  var headers = document.querySelectorAll(
    ".article .post h1,h2,h3,h4,h5,h6"
  );
  var tocList = document.querySelectorAll(".toc a");

  function highlightActiveToc() {
    var activeIndex = 0;
    for (let i = 0; i < headers.length; i++) {
      var offsetContainerTop =
        headers[i].offsetTop - contentArea.scrollTop >= 0;
      if (offsetContainerTop > 0) {
        activeIndex = i;
        break;
      }
    }
    tocList.forEach(function(tocItem) {
      if (tocItem.getAttribute("href").substr(1) === headers[activeIndex].id) {
        tocItem.classList.add("active");
        tocItem.scrollIntoViewIfNeeded();
      } else {
        tocItem.classList.remove("active");
      }
    });
  }
  highlightActiveToc();
  contentArea.onscroll = throttle(highlightActiveToc, 15);
</script>
